#pragma once

#include <algorithm>
#include <cassert>
#include <functional>
#include <vector>

#include "base/party.h"
#include "secure_type/secure_unsigned_integer.h"

template <typename T>
encrypto::motion::ShareWrapper to_share_wrapper(const T &share)
{
    return encrypto::motion::ShareWrapper(share);
}

template <>
encrypto::motion::ShareWrapper
to_share_wrapper(const encrypto::motion::SecureUnsignedInteger &share)
{
    return encrypto::motion::ShareWrapper(share.Get());
}

/**
 * Maps @p expr to an array specified by the provided dimensions.
 *
 * @param expr       The expression which will be evaluated at every position of the generated
 * array.
 * @param dim_sizes  The size of each dimension in the output array.
 *
 * @returns The lifted array.
 */
template <typename T>
std::vector<T> lift(const std::function<T(const std::vector<std::uint32_t> &)> &expr,
                    const std::vector<std::uint32_t> &dim_sizes)
{
    std::uint32_t raised_size =
        std::accumulate(dim_sizes.begin(), dim_sizes.end(), 1, std::multiplies<std::uint32_t>());

    std::vector<T> raised(raised_size);
    for (std::uint32_t i = 0; i < raised_size; ++i) {
        // Extract the per-dimension index of the current element.
        std::vector<std::uint32_t> dim_idxs(dim_sizes.size());
        std::uint32_t j = i;
        for (int k = dim_idxs.size() - 1; k >= 0; --k) {
            dim_idxs[k] = j % dim_sizes[k];
            j /= dim_sizes[k];
        }

        raised[i] = expr(dim_idxs);
    }

    return raised;
}

/**
 * Special case of lift() for the case when we are lifting a full array.
 *
 * If the array is incorrectly sized, resize it to be correct.  We assume that the incorrectly-sized
 * case only occurs when type analysis fails to propagate all of the dimensions of an array access backwards,
 * so this transformation is correct.
 */
template <typename T>
std::vector<T> lift(const std::function<std::vector<T>(const std::vector<std::uint32_t> &)> &expr,
                    const std::vector<std::uint32_t> &dim_sizes)
{
    auto source_array = expr(dim_sizes);

    std::size_t raised_size =
        std::accumulate(dim_sizes.begin(), dim_sizes.end(), 1, std::multiplies<std::uint32_t>());
    decltype(source_array) raised_array(raised_size);

    std::size_t num_source_dims = 0;
    do {
        num_source_dims += 1;
    } while (
        source_array.size() < std::accumulate(dim_sizes.begin(), dim_sizes.begin() + num_source_dims, 1, std::multiplies<std::uint32_t>())
    );

    for (std::size_t i = 0; i < raised_size; ++i) {
        // Extract the per-dimension index of the current element.
        std::vector<std::uint32_t> dim_idxs(dim_sizes.size());
        std::uint32_t j = i;
        for (int k = dim_idxs.size() - 1; k >= 0; --k) {
            dim_idxs[k] = j % dim_sizes[k];
            j /= dim_sizes[k];
        }

        // Compute which index in the source array this corresponds to
        std::size_t src_idx = 0;
        for (std::uint32_t dim = 0; dim < num_source_dims; ++dim) {
            src_idx *= dim_sizes[dim];
            src_idx += dim_idxs[dim];
        }

        raised_array[i] = source_array[src_idx];
    }

    return raised_array;
}

/**
 * Drops the last dimension from @p arr, retaining the last element of each
 *   slice of that dimension.
 *
 * @param arr        The array to drop the last dimension from.
 * @param dim_sizes  The size of each dimension in @p arr.
 *
 * @returns A copy of @p arr with the last dimension dropped.
 */
template <typename T>
std::vector<T> drop_dim(const std::vector<T> &arr, const std::vector<std::uint32_t> &dim_sizes)
{
    std::uint32_t dropped_size = std::accumulate(dim_sizes.begin(), dim_sizes.end() - 1, 1,
                                                 std::multiplies<std::uint32_t>());
    std::vector<T> dropped(dropped_size);

    for (std::uint32_t i = 0; i < dropped.size(); ++i) {
        // Extract the per-dimension index of the current index in the dropped array
        // (make sure to skip the last dimension!)
        std::vector<std::uint32_t> dim_idxs(dim_sizes.size());
        std::uint32_t j = i;
        for (int k = dim_idxs.size() - 2; k >= 0; --k) {
            dim_idxs[k] = j % dim_sizes[k];
            j /= dim_sizes[k];
        }

        // Now, reconstruct the original index
        std::uint32_t src_idx = 0;
        for (std::uint32_t dim = 0; dim < dim_idxs.size() - 1; ++dim) {
            src_idx *= dim_sizes[dim];
            src_idx += dim_idxs[dim];
        }

        // Handle the final dimension manually
        src_idx *= dim_sizes.back();
        src_idx += dim_sizes.back() - 1;

        dropped[i] = arr[src_idx];
    }

    return dropped;
}

template <typename T>
T drop_dim_monoreturn(const std::vector<T> &arr, const std::vector<std::uint32_t> &dim_sizes)
{
    std::vector<T> dropped = drop_dim(arr, dim_sizes);
    assert(dropped.size() == 1);
    return dropped[0];
}

/**
 * Provides a SIMD representation of a slice of an array.
 *
 */
template <typename T>
T vectorized_access(const std::vector<T> &arr, const std::vector<std::uint32_t> &dim_sizes,
                    const std::vector<bool> &vectorized_dims,
                    const std::vector<std::uint32_t> &idxs)
{
    std::vector<T> bucket;

    // Collect the elements of the selected slice.
    // TODO: switch to a more efficient implementation.
    for (std::uint32_t i = 0; i < arr.size(); ++i) {
        // Extract the per-dimension index of the current element.
        std::vector<std::uint32_t> dim_idxs(dim_sizes.size());
        std::uint32_t j = i;
        for (int k = dim_idxs.size() - 1; k >= 0; --k) {
            dim_idxs[k] = j % dim_sizes[k];
            j /= dim_sizes[k];
        }

        // Check that the indices match for all non-vectorized dimensions.
        bool match = true;
        std::size_t which_idx = 0;
        for (std::uint32_t k = 0; k < dim_idxs.size(); ++k) {
            if (vectorized_dims[k]) {
                continue;
            } else {
                if (dim_idxs[k] != idxs[which_idx]) {
                    match = false;
                    break;
                }
                ++which_idx;
            }
        }
        if (match) {
            bucket.push_back(arr[i]);
        }
    }

    return T::Simdify(bucket);
}

template <typename T, typename V>
void vectorized_assign(std::vector<T> &tgt, const std::vector<std::uint32_t> &dim_sizes,
                       const std::vector<bool> &vectorized_dims,
                       const std::vector<std::uint32_t> &idxs,
                       const std::vector<V> unvectorized_repr)
{
    // For each element in the unvectorized representation, find the corresponding index in the
    // target array and assign the value.
    for (std::uint32_t i = 0; i < unvectorized_repr.size(); i++) {
        std::vector<std::uint32_t> tgt_dim_idxs(dim_sizes.size());
        std::uint32_t j = i;
        std::size_t which_idx = idxs.size() - 1;
        for (int dim_idx = dim_sizes.size() - 1; dim_idx >= 0; --dim_idx) {
            if (vectorized_dims[dim_idx]) {
                tgt_dim_idxs[dim_idx] = j % dim_sizes[dim_idx];
                j /= dim_sizes[dim_idx];
            } else {
                tgt_dim_idxs[dim_idx] = idxs[which_idx];
                --which_idx;
            }
        }

        // Compute the index of the element in the target array.
        std::uint32_t tgt_idx = 0;
        for (std::uint32_t dim_idx = 0; dim_idx < dim_sizes.size(); ++dim_idx) {
            tgt_idx *= dim_sizes[dim_idx];
            tgt_idx += tgt_dim_idxs[dim_idx];
        }

        tgt[tgt_idx] = unvectorized_repr[i];
    }
}

template <typename T, typename V>
void vectorized_assign(std::vector<T> &tgt, const std::vector<std::uint32_t> &dim_sizes,
                       const std::vector<bool> &vectorized_dims,
                       const std::vector<std::uint32_t> &idxs, V vectorized_repr)
{
    vectorized_assign(tgt, dim_sizes, vectorized_dims, idxs, vectorized_repr.Unsimdify());
}

template <typename T, typename V>
std::vector<T> vectorized_update(std::vector<T> &tgt, const std::vector<std::uint32_t> dim_sizes,
                                 const std::vector<bool> &vectorized_dims,
                                 std::vector<std::uint32_t> idxs, const std::vector<V> &val)
{
    vectorized_assign(tgt, dim_sizes, vectorized_dims, idxs, val);
    return tgt;
}

template <typename T, typename V>
std::vector<T> vectorized_update(std::vector<T> &tgt,
                                 const std::vector<std::uint32_t> dim_sizes,
                                 const std::vector<bool> &vectorized_dims,
                                 std::vector<std::uint32_t> idxs, const V &val)
{
    return vectorized_update(tgt, dim_sizes, vectorized_dims, idxs, val.Unsimdify());
}

template <typename T, typename V>
std::vector<T> vectorized_update(T tgt, const std::vector<std::uint32_t> dim_sizes,
                                 const std::vector<bool> &vectorized_dims,
                                 std::vector<std::uint32_t> idxs, const V &val)
{
    auto arr = tgt.Unsimdify();
    return vectorized_update(arr, dim_sizes, vectorized_dims, idxs, val);
}

// clang-format off
{{circuit_generator}}
// clang-format on

// vim: set ft=cpp :
