name: Compiler checks

on:
  push:
    branches-ignore:
      - gh-pages
  pull_request:
    branches-ignore:
      - gh-pages

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        check-command: ["pytest", "mypy -m compiler"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        working-directory: compiler
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest
          pip install -r requirements.txt
      - name: Check with ${{ matrix.check-command }}
        working-directory: compiler
        run: ${{ matrix.check-command }}

  benchmarks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        mpc-backend: ["MOTION", "MP-SPDZ"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        working-directory: compiler
        run: |
          # Remove software that the GitHub Actions image adds to base Ubuntu,
          # to make CI errors easier to debug locally.
          sudo rm -rf /usr/local

          sudo apt-get update

          case ${{ matrix.mpc-backend }} in
            MOTION)
              sudo apt-get -y install build-essential make git cmake libssl-dev libboost-program-options-dev
              ;;

            MP-SPDZ)
              sudo apt-get -y install automake build-essential clang cmake git libboost-dev libboost-thread-dev libntl-dev libsodium-dev libssl-dev libtool m4 texinfo yasm
              ;;
          esac

          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build example applications
        working-directory: compiler
        run: ./run_tests.py --test-backend ${{ matrix.mpc-backend }}

  results-page:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        working-directory: compiler
        run: |
          # Remove software that the GitHub Actions image adds to base Ubuntu,
          # to make CI errors easier to debug locally.
          sudo rm -rf /usr/local

          sudo apt-get update

          # Install MOTION dependencies
          sudo apt-get -y install build-essential make git cmake libssl-dev libboost-program-options-dev

          # Install MP-SPDZ dependencies
          sudo apt-get -y install automake build-essential clang cmake git libboost-dev libboost-thread-dev libntl-dev libsodium-dev libssl-dev libtool m4 texinfo yasm

          sudo apt-get -y install graphviz

          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build results page
        run: ./compiler/make_results_markdown.py results
