name: Deploy pages

on:
  push:
    branches: master

jobs:
  deploy-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        working-directory: compiler
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y \
            graphviz \
            texlive-base \
            texlive-latex-extra \
            texlive-bibtex-extra \
            texlive-publishers \
            texlive-science \
            cmake \
            g++-10 \
            make \
            libboost-all-dev \
            libssl-dev
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Set up ccache
        uses: hendrikmuhs/ccache-action@v1
      - name: Build results markdown
        env:
          CXX: g++-10
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
        run: ./compiler/make_results_markdown.py static
      - name: Build paper
        run: |
          yes '' | pdflatex paper_SIMD.tex || true
          mv paper_SIMD.pdf static || true
      - name: Push to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: static
